.home {
  padding: 40px 24px;

  &__title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold !important;
  }

  &__filter {
    display: flex;
    width: 100%;
    margin: 40px 0 20px 0;
    overflow: scroll;
  }

  & .ant-table-thead > tr > th {
    text-transform: uppercase;
    color: #979797;
    font-weight: 600;
    font-size: 14px;
  }

  &
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0;
  }

  & .ant-table-cell {
    font-weight: 600;
    font-size: 16px;
  }

  @media screen and (max-width: 768px) {
    &__title-wrapper {
      display: block;
    }
  }
}

.positive {
  color: #19cb22;
}

.negative {
  color: #fe5b5a;
}
